<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Car</title>
</head>

<body>

<h1>Add Car</h1>

<form method="post" action="/add-car">

    <label>Name:</label>
    <input type="text" name="name" required>

    <br><br>

    <label>Model:</label>
    <input type="text" name="model" required>

    <br><br>

    <label>Year:</label>
    <input type="number" name="year" required>

    <br><br>

    <label>Price:</label>
    <input type="number" name="price" required>

    <br><br>

    <label>Country:</label>

    <select name="country.id">

        <option
                th:each="country : ${countries}"
                th:value="${country.id}"
                th:text="${country.name}">
        </option>

    </select>

    <br><br>

    <button type="submit">
        SAVE
    </button>

</form>

</body>
</html>